.vscode
*.code-workspace
build
vendor
__pycache__
*.pyc
*.rdb
*.swp
*.yin
*.tree
translib/ocbinds/ocbinds.go
models/yang/oc_lint_issues.log
deviation_errors.txt
ietf_issues.txt
oc_style_errors.txt
strict_lint_issues.txt
